Source: lcdproc
Section: utils
Priority: extra
Maintainer: Jose Luis Tallon <jltallon@adv-solutions.net>
Build-Depends: debhelper (>= 5.0.0), pkg-config, xmlto, libncurses5-dev, libusb-dev (>= 0.1.8)
Uploaders: Jonathan Oxer <jon@debian.org>
Homepage: http://www.lcdproc.org/
Standards-Version: 3.8.0

Package: lcdproc
Architecture: alpha amd64 arm armel hppa hurd-i386 i386 ia64 kfreebsd-amd64 kfreebsd-i386 m68k mips mipsel powerpc sparc
Depends: ${shlibs:Depends}, debconf | debconf-2.0, lsb-base (>= 3.0.10)
Description: LCD display driver daemon and clients
 This is a client/server suite including drivers for all kinds of
 nifty LCD displays. The server supports several serial devices: Matrix
 Orbital, Crystal Fontz, Bayrad, LB216, LCDM001 (kernelconcepts.de),
 Wirz-SLI and PIC-an-LCD; some devices connected to the parallel port:
 HD44780, STV5730, T6963, SED1520 and SED1330; and also some displays
 connected via USB: CFontzPacket, CwLnx, IOWarrior and HD44780.
 .
 Various clients are available that display things like CPU load, system
 load, memory usage, uptime, and a lot more. Custom clients can be
 written using the simple client-server protocol and provided example
 code.
